# Dependency directories
w3d5Express/q1/node_modules
w3d5Express/q2/node_modules
w3d5Express/q3/node_modules
w3d5Express/q4/node_modules
w3d6MVC/q1/node_modules
w3d6MVC/q2/node_modules
w3d6MVC/q3/node_modules
w3d6MVC/q4/node_modules
w4d1CookiesSession/q1/node_modules
w4d1CookiesSession/q2/node_modules
w4d1CookiesSession/q3_4/node_modules